# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Packaging
*.egg-info/
build/
dist/

# Virtual environments
.venv/
env/
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/
raw/

# Old download file
download_old.py

# Validation notebooks
notebooks/

# Basic smoke test file
/test.py